<p>
    <strong>Titulo:</strong>
    <%= @articulo.title%>
</p>
<p>
    <strong>Contenido:</strong>
    <%= @articulo.text%>
</p>
<%= link_to 'Editar', articulos_path %>
<%= link_to 'Volver', articulos_path %>